body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/30/9157aa94e693d90.jpg");
}
.container{
  display: flex;
  justify-content: center;
}
.pixel{
  height: 30px;
  width: 30px;
  border: white 1px solid;
  border-radius: 50%;
}

.colors{
  display: flex;
  justify-content: center;

}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.orange{
  background-color: orange;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.city {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  opacity: 20%;
}
