
.container{
  display: flex;
  justify-content: center;
}
.pixel{
  height: 30px;
  width: 30px;
  border: black 1px solid;
  border-radius: 50%;
}

.colors{
  display: flex;
  justify-content: center;

}

.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.orange{
  background-color: orange;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}

.city {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  opacity: 20%;
}
